{% extends 'base.html' %}
<title>{%  block title %}Contact{% endblock %} - Ryder Cook</title>
{% block content %}
<!--===== OPENER =====-->
<section class="services pt-100 pb-50" id="services">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 mx-auto text-center">
                <div class="section-title mb-100">
                    <h2 class="section__title">Services</h2>
                    <span class="section__subtitle">What I Offer</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-mb-6">
                <!--===== SERVICE =====-->
                <div class="single-service">
                    <i class="fa fa-laptop"></i>
                    <h4>Tech Support</h4>
                    <p>I will help with your technology or need some technical knowledge I'm your nerd.</p>
                </div>
            </div>
            <div class="col-lg-4 col-mb-6">
                <!--===== SERVICE =====-->
                <div class="single-service">
                    <i class="fa fa-laptop"></i>
                    <h4>App/Web Development</h4>
                    <p>I will help you create your app or even a website if that's more your style.</p>
                </div>
            </div>
            <div class="col-lg-4 col-mb-6">
                <!--===== SERVICE =====-->
                <div class="single-service">
                    <i class="fa fa-laptop"></i>
                    <h4>UI/UX Design</h4>
                    <p>I will make your design a reality with a mockup of your interface.</p>
                </div>
            </div>
            <div class="col-lg-4 col-mb-6">
                <!--===== SERVICE =====-->
                <div class="single-service">
                    <i class="fa fa-laptop"></i>
                    <h4>Graphic Design</h4>
                    <p>Have an event or need to express something through visual appeal I will create something great for you.</p>
                </div>
            </div>
            <div class="col-lg-4 col-mb-6">
                <!--===== SERVICE =====-->
                <div class="single-service">
                    <i class="fa fa-laptop"></i>
                    <h4>Photography</h4>
                    <p>I will take high quality photos for any moment you want to capture.</p>
                </div>
            </div>
            <div class="col-lg-4 col-mb-6">
                <!--===== SERVICE =====-->
                <div class="single-service">
                    <i class="fa fa-laptop"></i>
                    <h4>Video</h4>
                    <p>I will record and create videos for events, sports, musics, or personal moments.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
