{% extends 'base.html' %}
<title>{%  block title %}Services{% endblock %} - Ryder Cook</title>
{% block content %}
<!--===== SERVICES =====-->
<section class="services pt-100 pb-50" id="services">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 mx-auto text-center">
                <div class="section-title mb-100">
                    <h2 class="section__title">Services</h2>
                    <span class="section__subtitle">What I Offer</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-mb-6">
                <!--===== SERVICE =====-->
                <div class="single-service">
                    <i class="fa fa-laptop"></i>
                    <h4>Tech Support</h4>
                    <p>I will help with your technology or need some technical knowledge I'm your nerd.</p>
                </div>
            </div>
            <div class="col-lg-4 col-mb-6">
                <!--===== SERVICE =====-->
                <div class="single-service">
                    <i class="fa fa-laptop"></i>
                    <h4>App/Web Development</h4>
                    <p>I will help you create your app or even a website if that's more your style.</p>
                </div>
            </div>
            <div class="col-lg-4 col-mb-6">
                <!--===== SERVICE =====-->
                <div class="single-service">
                    <i class="fa fa-laptop"></i>
                    <h4>UI/UX Design</h4>
                    <p>I will make your design a reality with a mockup of your interface.</p>
                </div>
            </div>
            <div class="col-lg-4 col-mb-6">
                <!--===== SERVICE =====-->
                <div class="single-service">
                    <i class="fa fa-laptop"></i>
                    <h4>Graphic Design</h4>
                    <p>Have an event or need to express something through visual appeal I will create something great for you.</p>
                </div>
            </div>
            <div class="col-lg-4 col-mb-6">
                <!--===== SERVICE =====-->
                <div class="single-service">
                    <i class="fa fa-laptop"></i>
                    <h4>Photography</h4>
                    <p>I will take high quality photos for any moment you want to capture.</p>
                </div>
            </div>
            <div class="col-lg-4 col-mb-6">
                <!--===== SERVICE =====-->
                <div class="single-service">
                    <i class="fa fa-laptop"></i>
                    <h4>Video</h4>
                    <p>I will record and create videos for events, sports, musics, or personal moments.</p>
                </div>
            </div>
        </div>
        <!--===== PRICING =====-->
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h2 class="section__title">Pricing</h2>
            <span class="section__subtitle">Subject To Change</span>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary" style="border-color: #ffc107 !important;">
                    <div class="card-header py-3 text-black bg-primary border-primary" style="background-color: #ffc107 !important; border-color: #ffc107 !important;">
                        <h4 class="my-0 fw-normal">Tech Support</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$50<small class="text-muted fw-light">+</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Trouble Shooting</li>
                            <li>Device Repair</li>
                            <li>Data Recovery</li>
                            <li>Networking</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary" style="border-color: #ffc107 !important;">
                    <div class="card-header py-3 text-black bg-primary border-primary" style="background-color: #ffc107 !important; border-color: #ffc107 !important;">
                        <h4 class="my-0 fw-normal">App/Web Dev.</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$100<small class="text-muted fw-light">+</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Mockup</li>
                            <li>Assets</li>
                            <li>Programming</li>
                            <li>UI/UX Elements</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary" style="border-color: #ffc107 !important;">
                    <div class="card-header py-3 text-black bg-primary border-primary" style="background-color: #ffc107 !important; border-color: #ffc107 !important;">
                        <h4 class="my-0 fw-normal">UI/UX Design</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$100<small class="text-muted fw-light">+</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Mockup</li>
                            <li>Assets</li>
                            <li>Color Scheme</li>
                            <li>UI/UX Elements</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary" style="border-color: #ffc107 !important;">
                    <div class="card-header py-3 text-black bg-primary border-primary" style="background-color: #ffc107 !important; border-color: #ffc107 !important;">
                        <h4 class="my-0 fw-normal">Graphic Design</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$120<small class="text-muted fw-light">+</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Typography</li>
                            <li>Event Posters</li>
                            <li>Social Media Ad</li>
                            <li>Creative Photoshop</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary" style="border-color: #ffc107 !important;">
                    <div class="card-header py-3 text-black bg-primary border-primary" style="background-color: #ffc107 !important; border-color: #ffc107 !important;">
                        <h4 class="my-0 fw-normal">Photography</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$150<small class="text-muted fw-light">+</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>2 Hours</li>
                            <li>80+ Photos</li>
                            <li>Portraits</li>
                            <li>Landscapes</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary" style="border-color: #ffc107 !important;">
                    <div class="card-header py-3 text-black bg-primary border-primary" style="background-color: #ffc107 !important; border-color: #ffc107 !important;">
                        <h4 class="my-0 fw-normal">Video</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$200<small class="text-muted fw-light">+</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>2min-4min</li>
                            <li>Color Grading</li>
                            <li>Audio/Sound Design</li>
                            <li>Visual Effects</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
