{% extends 'base.html' %}
{% block content %}
<title>{%  block title %}Update{% endblock %} - Ryder Cook</title>
<section class="update pt-100 pb-50" id="update">
    <div class="row">
        <div class="col-xl-6 mx-auto text-center">
            <div class="section-title mb-100">
                <h2 class="section__title">Update Post</h2>
                <span class="section__subtitle">Review Update</span>
            </div>
        </div>
    </div>
    <div class="container">
        <form method="post" class="form-section" style="max-width: 830px;" id="contactForm">
          <!--===== TITLE =====-->
          <div class="mb-3">
              <input name="title" value="{{ request.form['title'] or post['title'] }}" class="form-control" id="title" type="text" placeholder="Name" required>
          </div>
          <!--===== MESSAGE =====-->
          <div class="mb-3">
              <textarea name="body" class="form-control" id="body" type="text" placeholder="Your message here...." style="height: 10rem; resize: none;" required>{{ request.form['body'] or post['body'] }}</textarea>
          </div>
          <!--===== SUBMIT =====-->
          <div class="row">
              <div class="col text-center">
                  <input type="submit" value="Submit" class="btn btn-primary btn-lg" style="width: 200px; margin: auto;">
                  <button type="button" class="btn btn-primary btn-lg" style="width: 200px; margin: auto;" data-bs-toggle="modal" data-bs-target="#deletemodal">Delete</button>
                  <div class="modal fade" id="#deletemodal" tabindex="-1" aria-label="deleteModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="deleteModalLabel">Delete Review</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  Once you delete your review it will no longer be available. Are you sure you want to proceed?
                              </div>
                              <div class="modal-footer">
                                  <form action="{{ url_for('portfolio.delete', id=post['id']) }}" method="post">
                                    <input type="submit" value="Delete" class="btn btn-primary btn-lg" style="width: 200px; margin: auto;">
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </form>
    </div>
</section>
{% endblock %}
