<!doctype html>
<title>{%  block title %}{% endblock %} - Portfolio</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,800,900%7cRaleway:300,400,500,600,700" rel="stylesheet">
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!--===== HEADER =====-->
        <header class="p-3 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="{{ url_for('portfolio.home') }}" class="nav-link px-2 text-secondary">Home</a></li>
                        <li><a href="{{ url_for('portfolio.about') }}" class="nav-link px-2 text-secondary">About</a></li>
                        <li><a href="{{ url_for('portfolio.skills') }}" class="nav-link px-2 text-secondary">Skills</a></li>
                        <li><a href="{{ url_for('portfolio.services') }}" class="nav-link px-2 text-secondary">Services</a></li>
                        <li><a href="{{ url_for('portfolio.contact') }}" class="nav-link px-2 text-secondary">Contact</a></li>
                        <li><a href="{{ url_for('review') }}" class="nav-link px-2 text-secondary">Review</a></li>
                    </ul>
                    <div class="text-end">
                        {% if g.user %}
                        <a href="{{ url_for('auth.logout') }}"><button type="button" class="btn btn-outline-light me-2">Log Out</button></a>
                        <a><button type="button" class="btn btn-warning">{{ g.user['username'] }}</button></a>
                        {% else %}
                        <a href="{{ url_for('auth.login') }}"><button type="button" class="btn btn-outline-light me-2">Log In</button></a>
                        <a href="{{ url_for('auth.register') }}"><button type="button" class="btn btn-warning">Register</button></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>
    </main>
</body>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
<!--====== MAIN JS ======-->
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>